{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "importOrder": ["^react$", "^next$", "<THIRD_PARTY_MODULES>", "components/"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
